<a href="https://colab.research.google.com/github/rajarajeswarir/Hands-on-Machine-Learning/blob/main/Pandas_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20230101", periods=6)

dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494
2023-01-04  0.205848 -0.438054  0.430645 -0.917709
2023-01-05 -0.094941  0.502021  0.846171 -1.241564
2023-01-06  0.833113 -2.283473 -1.153982  1.589298

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo"
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df.head()

                   A         B         C         D
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494
2023-01-04  0.205848 -0.438054  0.430645 -0.917709
2023-01-05 -0.094941  0.502021  0.846171 -1.241564

In [10]:
df.tail(3)

                   A         B         C         D
2023-01-04  0.205848 -0.438054  0.430645 -0.917709
2023-01-05 -0.094941  0.502021  0.846171 -1.241564
2023-01-06  0.833113 -2.283473 -1.153982  1.589298

In [11]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.328953 -0.316887  0.089187 -0.376747
std    0.443591  1.201185  0.800909  1.109964
min   -0.101148 -2.283473 -1.153982 -1.241564
25%   -0.019744 -0.773819 -0.278338 -1.109114
50%    0.213144 -0.202939  0.098745 -0.860398
75%    0.679945  0.384560  0.742289  0.013349
max    0.910404  1.171749  0.938842  1.589298

In [15]:
df3 = pd.DataFrame({"a": [1, 2, 3, 4]}, index=['A', 'b', 'C', 'd'])
print(df3.sort_index(key=lambda x: x.str.lower()))

   a
A  1
b  2
C  3
d  4

In [16]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2023-01-01 -1.172916 -0.233155  1.171749 -0.101148
2023-01-02 -0.803087 -0.293398 -0.885741  0.910404
2023-01-03  0.285494  0.938842  0.032177  0.220440
2023-01-04 -0.917709  0.430645 -0.438054  0.205848
2023-01-05 -1.241564  0.846171  0.502021 -0.094941
2023-01-06  1.589298 -1.153982 -2.283473  0.833113

In [17]:
df

                   A         B         C         D
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494
2023-01-04  0.205848 -0.438054  0.430645 -0.917709
2023-01-05 -0.094941  0.502021  0.846171 -1.241564
2023-01-06  0.833113 -2.283473 -1.153982  1.589298

In [18]:
df.sort_values(by="B")

                   A         B         C         D
2023-01-06  0.833113 -2.283473 -1.153982  1.589298
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-04  0.205848 -0.438054  0.430645 -0.917709
2023-01-03  0.220440  0.032177  0.938842  0.285494
2023-01-05 -0.094941  0.502021  0.846171 -1.241564
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916

In [19]:
df["A"]

2023-01-01   -0.101148
2023-01-02    0.910404
2023-01-03    0.220440
2023-01-04    0.205848
2023-01-05   -0.094941
2023-01-06    0.833113
Freq: D, Name: A, dtype: float64

In [20]:
df[0:3]

                   A         B         C         D
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494

In [24]:
df["20230102":"20230104"]

                   A         B         C         D
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494
2023-01-04  0.205848 -0.438054  0.430645 -0.917709

In [27]:
df.loc[dates[0]]

A   -0.101148
B    1.171749
C   -0.233155
D   -1.172916
Name: 2023-01-01 00:00:00, dtype: float64

In [28]:
df.loc[:,["A", "B"]]

                   A         B
2023-01-01 -0.101148  1.171749
2023-01-02  0.910404 -0.885741
2023-01-03  0.220440  0.032177
2023-01-04  0.205848 -0.438054
2023-01-05 -0.094941  0.502021
2023-01-06  0.833113 -2.283473

In [30]:
df.loc["20230102":"20230104", ["A", "B"]]

                   A         B
2023-01-02  0.910404 -0.885741
2023-01-03  0.220440  0.032177
2023-01-04  0.205848 -0.438054

In [31]:
df.loc[dates[0], "A"]

-0.1011484637542052

In [32]:
df.at[dates[0], "A"]

-0.1011484637542052

In [33]:
df.iloc[3]

A    0.205848
B   -0.438054
C    0.430645
D   -0.917709
Name: 2023-01-04 00:00:00, dtype: float64

In [34]:
df.iloc[3:5, 0:2]

                   A         B
2023-01-04  0.205848 -0.438054
2023-01-05 -0.094941  0.502021

In [35]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2023-01-02  0.910404 -0.293398
2023-01-03  0.220440  0.938842
2023-01-05 -0.094941  0.846171

In [36]:
df.iloc[1:3, :]

                   A         B         C         D
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494

In [37]:
df.iloc[1, 1]

-0.8857409186696591

In [38]:
df.iat[1, 1]

-0.8857409186696591

In [39]:
df[df["A"] > 0]

                   A         B         C         D
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087
2023-01-03  0.220440  0.032177  0.938842  0.285494
2023-01-04  0.205848 -0.438054  0.430645 -0.917709
2023-01-06  0.833113 -2.283473 -1.153982  1.589298

In [40]:
df4 = df.copy()

df4["E"] = ["one", "one", "two", "three", "four", "three"]

df4

                   A         B         C         D      E
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916    one
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087    one
2023-01-03  0.220440  0.032177  0.938842  0.285494    two
2023-01-04  0.205848 -0.438054  0.430645 -0.917709  three
2023-01-05 -0.094941  0.502021  0.846171 -1.241564   four
2023-01-06  0.833113 -2.283473 -1.153982  1.589298  three

In [41]:
df4[df4["E"].isin(["one"])]

                   A         B         C         D    E
2023-01-01 -0.101148  1.171749 -0.233155 -1.172916  one
2023-01-02  0.910404 -0.885741 -0.293398 -0.803087  one

In [42]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))

s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [43]:
df.at[dates[0], "A"] = 0

In [45]:
df.iat[0, 1] = 0

In [47]:
df.loc[:, "D"] = np.array([5] * len(df))

df

                   A         B         C  D
2023-01-01  0.000000  0.000000 -0.233155  5
2023-01-02  0.910404 -0.885741 -0.293398  5
2023-01-03  0.220440  0.032177  0.938842  5
2023-01-04  0.205848 -0.438054  0.430645  5
2023-01-05 -0.094941  0.502021  0.846171  5
2023-01-06  0.833113 -2.283473 -1.153982  5

In [48]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [49]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [50]:
df1

                   A         B         C  D    E
2023-01-01  0.000000  0.000000 -0.233155  5  1.0
2023-01-02  0.910404 -0.885741 -0.293398  5  1.0
2023-01-03  0.220440  0.032177  0.938842  5  NaN
2023-01-04  0.205848 -0.438054  0.430645  5  NaN

In [51]:
df1.dropna()

                   A         B         C  D    E
2023-01-01  0.000000  0.000000 -0.233155  5  1.0
2023-01-02  0.910404 -0.885741 -0.293398  5  1.0

In [52]:
df1.fillna(value=5)

                   A         B         C  D    E
2023-01-01  0.000000  0.000000 -0.233155  5  1.0
2023-01-02  0.910404 -0.885741 -0.293398  5  1.0
2023-01-03  0.220440  0.032177  0.938842  5  5.0
2023-01-04  0.205848 -0.438054  0.430645  5  5.0

In [53]:
pd.isna(df1)

                A      B      C      D      E
2023-01-01  False  False  False  False  False
2023-01-02  False  False  False  False  False
2023-01-03  False  False  False  False   True
2023-01-04  False  False  False  False   True

In [54]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

s

2023-01-01    NaN
2023-01-02    NaN
2023-01-03    1.0
2023-01-04    3.0
2023-01-05    5.0
2023-01-06    NaN
Freq: D, dtype: float64

In [55]:
df

                   A         B         C  D
2023-01-01  0.000000  0.000000 -0.233155  5
2023-01-02  0.910404 -0.885741 -0.293398  5
2023-01-03  0.220440  0.032177  0.938842  5
2023-01-04  0.205848 -0.438054  0.430645  5
2023-01-05 -0.094941  0.502021  0.846171  5
2023-01-06  0.833113 -2.283473 -1.153982  5

In [57]:
df.sub(s, axis="index")

                   A         B         C    D
2023-01-01       NaN       NaN       NaN  NaN
2023-01-02       NaN       NaN       NaN  NaN
2023-01-03 -0.779560 -0.967823 -0.061158  4.0
2023-01-04 -2.794152 -3.438054 -2.569355  2.0
2023-01-05 -5.094941 -4.497979 -4.153829  0.0
2023-01-06       NaN       NaN       NaN  NaN

In [58]:
df.apply(lambda x: x.max() - x.min())

A    1.005346
B    2.785495
C    2.092824
D    0.000000
dtype: float64

In [59]:
df = pd.DataFrame(np.random.randn(10, 4))

In [60]:
pieces = [df[:3], df[3:7], df[7:]]

In [61]:
pd.concat(pieces)

          0         1         2         3
0 -1.194105  0.118651 -0.349970 -1.315171
1  0.561454 -0.774681 -1.127593  0.986413
2 -0.246527 -1.116153 -0.430334 -0.198676
3 -0.561022 -0.126195  0.395134 -0.541217
4 -0.018618 -0.696793  0.223070  0.741624
5  0.967229  1.539659  0.876583  0.686620
6  1.064435  1.687923  0.702055  1.537420
7 -1.439723 -0.657942  0.475297  0.732932
8  0.920338  0.492475  0.113537  0.698068
9  0.877537 -0.011651 -0.790209  0.450415

In [62]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [63]:
df.groupby("A")[["C", "D"]].sum()

            C         D
A
bar  2.301145 -0.307917
foo  1.334106 -5.762913

In [64]:
df.groupby(["A", "B"]).sum()

                  C         D
A   B
bar one    1.706933  0.108241
    three  0.751018  0.258305
    two   -0.156807 -0.674463
foo one    1.394168 -3.403622
    three -1.845308 -1.021082
    two    1.785246 -1.338210

In [65]:
tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)

In [67]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [70]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

df

                     A         B
first second
bar   one    -0.028971 -0.873819
      two    -1.243052  0.517649
baz   one    -2.491142  1.306505
      two    -0.055737  0.130629
foo   one     0.010973  0.384999
      two     0.805682 -0.904575
qux   one     1.726315  0.771986
      two     1.540168 -1.338143